/* slicemk — LAYER 6: LeftIndex HRM - SHIFT hold
 * TODO: see boards/go60/layers/hrm_left_index.dtsi */

        LAYER_LeftIndex {
            bindings = <
                &trans &HRM_left_index_tap_v1B_TKZ EQUAL &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &HRM_left_index_tap_v1B_TKZ Q &HRM_left_index_tap_v1B_TKZ W &HRM_left_index_tap_v1B_TKZ E &HRM_left_index_tap_v1B_TKZ R &HRM_left_index_tap_v1B_TKZ T &trans &trans &trans &trans &trans &trans &trans &trans &trans &HRM_left_index_pinky_v1B_TKZ LGUI A &HRM_left_index_ring_v1B_TKZ LALT S &HRM_left_index_middy_v1B_TKZ LCTRL D &none &HRM_left_index_tap_v1B_TKZ G &trans &kp J &kp K &kp L &kp SEMI &trans &trans &HRM_left_index_tap_v1B_TKZ Z &HRM_left_index_tap_v1B_TKZ X &HRM_left_index_tap_v1B_TKZ C &HRM_left_index_tap_v1B_TKZ V &HRM_left_index_tap_v1B_TKZ B &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };
