/* slicemk — LAYER 12: Keypad / Numpad
 * TODO: see boards/go60/layers/keypad.dtsi */

        LAYER_Keypad {
            bindings = <
                &trans &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &trans &trans &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12 &kp TAB &kp STAR &kp N7 &kp N8 &kp N9 &kp SLASH &trans &trans &kp SLASH &kp N7 &kp N8 &kp N9 &kp STAR &trans &none &kp MINUS &kp N4 &kp N5 &kp N6 &kp PLUS &kp PLUS &kp N4 &kp N5 &kp N6 &kp PLUS &trans &mo LAYER_Magic &kp EQUAL &kp N1 &kp N2 &kp N3 &kp MINUS &trans &trans &kp MINUS &kp N1 &kp N2 &kp N3 &kp ENTER &numpad_td &trans &kp RET &kp DOT &kp N0 &trans &trans &kp N0 &kp DOT &kp RET &trans &trans &trans &trans &trans &mo LAYER_Symbol &trans &trans &trans &trans &trans &trans &trans
            >;
        };
