/* slicemk — LAYER 13: Symbol
 * TODO: see boards/go60/layers/symbol.dtsi */

        LAYER_Symbol {
            bindings = <
              &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans 
              &trans &trans &trans &trans &kp TILDE &kp DOLLAR &kp HASH &kp CARET &trans &trans 
              &trans &trans &trans &trans &trans &trans &trans &caps_word &kp MINUS &kp STAR 
              &kp PIPE &kp AMPS &trans &kp H &trans &trans &trans &trans &trans 
              &magic LAYER_Magic 0 &pair_brace &kp RBRC &pair_angle &kp GT &trans &trans &trans 
              &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans 
              &trans &trans &trans &trans &trans &trans &trans &trans &to LAYER_Base &trans &trans 
              &trans &trans &trans &trans &trans 
            >;
        };
