/*
 * Glove80 Board Metadata & Hardware-Specific Config
 */

#define KB_TYPE_GLOVE_80 1
#define KB_TYPE_GO_60    2

#define KB_TYPE        KB_TYPE_GLOVE_80
#define EDITOR_HOST_OS 'M'

/* Lower tap-dance */
/ {
    behaviors {
        ZMK_TD_LAYER(lower, LAYER_Lower)
    };
};

/* TODO: Glove80 hardware config (ext_power, listeners) */
