/* glove80 — LAYER 13: Symbol
 * TODO: see boards/go60/layers/symbol.dtsi */

        LAYER_Symbol {
            bindings = <
    
    /* Left Hand */

/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │              ESC/`                  │ │                   F1                │ │                F2                   │ │                 F3                  │ │                  F4                 │ */
                  &trans                                     &trans                                &trans                                  &trans                                   &trans                  
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */ 
/* │              EQUAL                  │ │                   1/!               │ │                2/@                  │ │                 3/#                 │ │                  4/$                │ │                5/%                  │ */
                  &trans                                     &trans                                &trans                                  &trans                                   &trans                                 &trans            
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */ 
/* │               TAB                   │ │                    Q                │ │                 W                   │ │                 E                   │ │                   R                 │ │                 T                   │ */
                  &trans                                     &trans                                &trans                                  &trans                                   &trans                                 &trans                   
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │         Lshift + 2xCAPSLCK          │ │            GUI(hold)/A              │ │             ALT(hold)/S             │ │             CTRL(hold)/D            │ │            SHIFT(hold)/F            │ │            SYMB(hold)/G             │ */
                  &trans                                     &trans                                &trans                                  &trans                                   &trans                                 &trans     
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │               SHIFT                 │ │                    Z                │ │                  X                  │ │                 C                   │ │                   V                 │ │                 B                   │ */
                  &trans                                     &trans                                &trans                                  &trans                                   &trans                                 &trans                   
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │               MAGIC                 │ │                    Z                │ │                  X                  │ │                 C                   │ │                   V                 │ */
                  &trans                                     &trans                                &trans                                  &trans                                   &trans                                                         
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */

/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/*                                                                                                                         │           NAV(hold)/SPACE           │ │                ENTER                │ │             NUMPAD(hold)/?          │ */
                                                                                                                                           &trans                                  &trans                                   &trans    
/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/*                                                                                                                         │           NAV(hold)/SPACE           │ │                ENTER                │ │             NUMPAD(hold)/?          │ */
                                                                                                                                           &trans                                  &trans                                   &trans    
/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
    
    
/* Right Hand */

                                        /* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                                        /* │                F6                   │ │                   F7                │ │                  F8                 │ │                 F9                  │ │                 F10                 │ */
                                                          &trans                                    &trans                                  &trans                                  &trans                                  &trans                  
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */ 
/* │                 6                   │ │                 7                   │ │                   8                 │ │                  9                  │ │                 0                   │ │                  -                  │ */
                  &trans                                    &trans                                  &trans                                  &trans                                 &trans                                   &trans            
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */ 
/* │                 Y                   │ │                 U                   │ │                  I                  │ │                   O                 │ │                 P                   │ │                  ()                 │ */
                  &trans                                    &trans                                  &trans                                  &trans                                 &trans                                   &trans                   
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │            SYMB(hold)/H             │ │           SHIFT(hold)/J             │ │             CTRL(hold)/K            │ │             ALT(hold)/L             │ │             GUI(hold)/;             │ │                  ""                 │ */
                  &trans                                    &trans                                  &trans                                  &trans                                 &trans                                   &trans                                            
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                N                    │ │                  M                  │ │                 ,/<>                │ │                  .                  │ │                  /                  │ │                   B                 │ */
                  &trans                                   &trans                                   &trans                                  &trans                                 &trans                                   &trans                   
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                                        /* │               MAGIC                 │ │                  Z                  │ │                  X                  │ │                  C                  │ │                   V                 │ */
                                                          &trans                                   &trans                                   &trans                                 &trans                                   &trans
                                        /* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */

                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                    /* │           NAV(hold)/SPACE           │ │                ENTER                │ │             NUMPAD(hold)/?          │ */
                                        &trans                                 &trans                                    &trans    
                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                    /* │           NAV(hold)/SPACE           │ │                ENTER                │ │             NUMPAD(hold)/?          │ */
                                         &trans                                &trans                                    &trans    
                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
            >;
        };
